<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.aurloan.mapper.UserRegInfoMapper">
  
  	<!-- 根据用户名查询密码 -->
	<select id="userLogin" parameterType="UserRegInfo" resultType="UserRegInfo">
		select * from UserRegInfo where loginName=#{loginName} and loginPassword=#{loginPassword}
	</select>
	
	<!-- 注册用户 -->
	<insert id="userRegist" parameterType="UserRegInfo">
		insert into UserRegInfo(userRegId,loginName,loginPassword,userName,userTel,userCardId) values
		 (uri_urd_seq.nextval,#{loginName},#{loginPassword},#{userName},#{userTel},#{userCardId})
	</insert>
	
	<!--修改密码  -->
	<update id="updateUserPwd" parameterType="UserRegInfo" >
		update UserRegInfo set
		loginPassword=#{loginPassword}
		where userRegId=#{userRegId}
	</update>
	
	<!-- 验证用户名是否可用-->
	<select id="queryloginName" parameterType="string" resultType="UserRegInfo">
		select * from UserRegInfo where loginName=#{loginName} 
	
	</select>
	
	<!-- 根据用户名查询所有信息 -->
	<select id="userLoginAll"  resultType="UserRegInfo">
		select * from UserRegInfo where loginName=#{loginName}
	</select>
	
	<!-- 忘记密码 -->
	<update id="updatePwdForget" parameterType="UserRegInfo">
		update UserRegInfo set
		loginPassword=#{loginPassword}
		where userTel=#{userTel}
	</update>
	
	<!--检测电话号是否可用 -->
	<select id="queryUserTel" parameterType="string" resultType="int">
		select count(*) from UserRegInfo 
		where userTel=#{userTel}
	</select>
	
	
  </mapper>